.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;

}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;

}

.formulario__grupo-input {
    position: relative;
    border: 1px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    box-sizing: border-box;

}

.label__textera {
    width: 100%;
    height: 200px;
    background: #fff;
    border: 1px solid #000000;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    box-sizing: border-box;

}

.label__textera:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.label__textera-error {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 0;
    color: #bb2929;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 0;
    font-size: 16px;
    opacity: 0;
}

.formulario__grupo-textera {
    position: relative;
    width: auto;
    border-radius: 3px;
    box-sizing: border-box;
}

.imput__textera {
    width: 100%;
    background: none;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;

}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 0;
    color: #bb2929;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 0;
    font-size: 16px;
    opacity: 0;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__textera {
    width: 100%;
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    text-decoration: none;
    border: 1px solid #414a4d;
    box-shadow: 0 0 0 1px #090d0e;
    padding: 8px 16px 8px 16px;
    /* tamaño botones desde las letras al borde */
    margin-left: 10px;
    margin-right: 4px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 10px;
    text-shadow: 1px 1px 0px rgb(117, 114, 114);
    color: white;
    background: #080b0c;
    /* fallback para navegadores que no soporten degradados */
    /*  background: -moz-linear-gradient(top, #585f61 20%, #0e1416 80%);
    background: -webkit-linear-gradient(top, #585f61 20%,#0e1416 80%); */
}

.formulario__btn:hover {
    font-weight: bold;
    background: #080808;
    background: -moz-linear-gradient(top, #555c5b 20%, #080808 80%);
    background: -webkit-linear-gradient(top, #555c5b 20%, #080808 80%);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1e66d1;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }

    .formulario__textera {
        width: 100%;
        grid-column: span 1;
    }


}